{% extends "main.twig" %}

{% block content %}

	<div class="container-fluid row">
		<div class="col-sm-8 mx-auto">
			<br>
			<h1 class="h3 mb-3 font-weight-normal center">Log in</h1>
			<form action="{{ url_for('auth.signin.post') }}" method="post">
				<div class="input-group">
					<label for="login" class="sr-only">Login</label>
					<input type="login" id="login" name="login" class="form-control" placeholder="Login" autocomplete="username" required autofocus>


				</div>
				<br>
				<div class="input-group password-strength__input">

					<input id="password" type="password" name="password" class="form-control" placeholder="Password" autocomplete="current-password">
					<button class="password-strength__visibility btn btn-outline-secondary" type="button" onclick="ShowHidePassword(this);">
						<span class="password-strength__visibility-icon invisible" data-visible="hidden">
							<i class="fas fa-eye-slash"></i>
						</span>
						<span class="password-strength__visibility-icon " data-visible="visible">
							<i class="fas fa-eye"></i>
						</span>
					</button>
				</div>

				<br>
				<button class="btn btn-lg btn-primary btn-block center" type="submit">Log in</button>

			</form>
		</div>
	</div>

{% endblock %}

{% block javacripts %}

	<script src="/js/settings_users.js" type="text/javascript"></script>

{% endblock %}
