{% extends "main.twig" %}

{% block content %}

	<div class="row">

        <div class="card center center-vertical col-10 col-md-10 col-sm-10 col-lg-6 col-xl-6 col-xxl-4">
            <div class="card-body">
                <h5 class="card-title">Please sign in</h5>
                <form action="{{ url_for('auth.signin.post') }}" method="post">
                    <div class="input-group">
                        <label for="login" class="sr-only">Login</label>
                        <input type="login" id="login" name="login" class="form-control" placeholder="Login" autocomplete="username" required autofocus>
						<br>
						<div class="input-group password-strength__input">

							<input id="password" type="password" name="password" class="form-control" placeholder="Password" autocomplete="current-password">
								<button class="password-strength__visibility btn btn-outline-secondary" type="button" onclick="ShowHidePassword(this);">
									<span class="password-strength__visibility-icon invisible" data-visible="hidden">
										<i class="fas fa-eye-slash"></i>
									</span>
									<span class="password-strength__visibility-icon " data-visible="visible">
										<i class="fas fa-eye"></i>
									</span>
								</button>
						</div> {# /.input-group .password-strength__input#}
					</div> {# /.input-group #}
					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
					<br>
				</form>
			</div> {# /.card-body#}
		</div> {# /.card #}
	</div> {# /.row #}

{% endblock %}

{% block javacripts %}

	<script src="/js/settings_users.js" type="text/javascript"></script>

{% endblock %}
