{% extends "main.twig" %}
{% block menu %}{{ include('menu.twig') }}{% endblock %}


{% block content %}

    <div id="main_page" class="container-fluid row">
    <div class="">
        <h1>{{ getText('Welcome') }}</h1>
        </div>
    </div>

{% endblock %}


{% block footer %}
    <footer class="footer py-3 background-secondary fixed-bottom">
        <div class="container">
           
                {{ getText('Footer Welcome') }}
                
            </div>
        </div>
    </footer>
{% endblock %}