[data-theme="light"] {
  --background-primary: var(--color-white);
  --background-intermediate: var(--color-light-grey-100);
  --background-secondary: var(--color-white);
  --background-contrast: var(--color-light-grey-300);
  --background-input: var(--color-light-grey-300);
  --background-elevation: var(--color-light-grey-700);
  --text-primary: var(--color-dark-grey-800);
  --text-intermediate: var(--color-dark-grey-300);
  --text-secondary: var(--color-light-grey-900);
  --divider-primary: var(--color-light-grey-300);
  --divider-secondary: var(--color-light-grey-500);
  --sidebar-background-color: var(--background-primary);
  --label-album-color: var(--text-secondary);
  --label-album-background-color: #efeff2;
  --label-new-color: #ff8000;
  --label-new-background-color: rgba(255, 128, 0, 0.1);
  --label-explicit-background-color: #191922;
  --label-explicit-color: #c2c2ca;
  --shadow-border-color: var(--background-primary);
  --lyrics-gradient-color: 255, 255, 255;
  --popper-shadow: 0 4px 20px 0 rgba(25, 25, 34, 0.24);
  --marquee-gradient-transparent-color: hsla(0, 0%, 100%, 0);
  --scroller-shadow-color: rgba(25, 25, 34, 0.12);
  --modal-shadow-color: rgba(10, 10, 22, 0.3);
  --modal-special-offers-primary-color: rgba(0, 127, 235, 0.9);
  --modal-special-offers-primary-hover-color: rgba(11, 102, 205, 0.9);
  --modal-sharebox-friend-hover-color: rgba(0, 127, 235, 0.5);
  --onboarding-header-shadow-color: rgba(0, 0, 0, 0.2);
  --onboarding-footer-shadow-color: rgba(0, 0, 0, 0.2);
  --button-light-color: var(--color-light-grey-500);
  --borders: var(--color-dark-grey-900);
  --tag-item-text-light: var(--color-orange-light);
  --tag-item-text-dark: var(--color-orange-dark);
  --dropdown-divider: 1px solid rgba(0,0,0,.15);
  --dropdown-addelement: var(--color-orage-lighter);
  --transparency: 0.3;
}
:root,
[data-theme="light--color-white"] {
  --background-accent: var(--color-coral-500);
  --text-inverse: var(--background-primary);
  --text-accent: var(--color-coral-500);
  --divider-accent: var(--color-coral-500);
  --color-accent: var(--color-coral-500);
  --color-accent-hover: var(--color-coral-700);
  --premium-color: #1daaa2;
  --orange-color: #f60;
  --download-color: #00d000;
  --family-color: #fe447d;
}

[data-theme="light"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
[data-theme="light"] .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}